#text{
	margin-top: -6%;
	width: 60%;
	height: 40%;
	margin-left: 25%;
	font-size: 1.5vw;
}

.line {
	
	font-size: 1vw;
	line-height: 2em;
	font-weight: bold;

}

.desc {
	
	font-size: 1vw;
	line-height: 2em;
	text-indent: 5em;

}

.line a{
	text-decoration: none;
	font-weight: bold;
}

li{
	list-style-type: none;
}
#cc{
	text-align: center;
	font-size: 0.7vw;
	margin-bottom: 5%;
}
#cc a{
	font-weight: bold;
	color: black;
}

hr{
	align: center;
}

.clear{
	clear: both;
	margin-left: 25%;

}

.clear_bottom{
	clear:both;
	margin-top: 25%;
}

#images_button{
	    background-color: #F68F84;
    width: 5%;
    /* height: 1%; */
    padding-left: 25%;
    padding-top: 7%;
    margin-top: 2%;
    /* margin-left: 2%; */
}

#top{
    margin-top: -17%;
    width: 12%;
    height: 11%;
    margin-left: 25%;
}

#images_button_link{
	text-decoration: none;
	color: black;


}

h5{
	margin-bottom: 5px;
}
